.button {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(66, 41, 155);
  cursor: pointer;
  background: rgb(2,0,36);
  background: linear-gradient(-30deg, rgb(150, 146, 233) 0%, rgb(195, 195, 236) 45%, rgb(255, 255, 255) 100%);
}

.button:hover {
  opacity: .5;
}